@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
            display: none;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>
<body class="homeBody">
    <div class="container">
        <div class="row col-lg-12 col-sm-12 text-center colorfulBox">
            <h1 class="display-4 headerSkills">Welcome</h1>
            <p class="aboutText">
                My name is Ekampreet Kaur. I graduated with a Bachelor's degree in Software Development
                from Green River College. Excellent organizational and meticulous professional skills excelling in analyzing and resolving problems in Engineering Services.
                Skilled communicator, and team leader who consistently demonstrates commitment and leadership.
            </p>  
            <br >

            <div class="row col-lg-12 col-sm-12 text-center socialLinks">
                <i onclick="window.location.href='https://github.com/KaurEkampreet';"
                   class="fa fa-github bounce" style="font-size:7.3vw;"></i>
                <i onclick="window.location.href='https://www.linkedin.com/in/ekampreetkaur/';"
                   class="fa fa-linkedin-square bounce"
                   style="font-size:7.3vw;color:white"></i>
                <i onclick="window.location.href='/Home/Resume';" class="fa
                fa-envelope-o bounce" style="font-size:7.3vw;color:white;"></i>
            </div>
        </div>
    </div>
</body>
</html>
