@{
    ViewData["Title"] = "Projects |";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    
    <title>Projects</title>
</head>
<body>

    <h2 class="display-3 headerSkills text-center">Projects</h2>
    <div class="container">
        <br>
        <div class="row">

            <div class="container mt-4 mb-5">
                <br>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h1 class="display-4 text-info">Eventbrite</h1>
                        <p class="h2">
                        <p>
                            Designed and implemented Microservices (C#, .NET) like Catalog service, Token services, Cart service, Order service and Integrated strip for Payment. Built the Restful Web API using C#, ASP.NET core framework, MVC Design pattern, Domain Driven design and performed CURD operations. Designed Razor pages using C#, ASP.Net, JavaScript, CSS, and HTML. Dockized the application and ported on Azure using Kubernetes.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="https://github.com/KaurEkampreet/Eventbrite" target="_blank">
                            <img class="img-fluid float-right" src="~/img/event.jpg" alt="Project Picture" class="float-right mr-3" height="200" width="550">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container mt-4 mb-5">
                <br>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h1 class="display-4 text-info">Expense Tracker</h1>
                        <p class="h2">
                        <p>
                            User has an option to store their budget and expense details for few of the expense categories already available in the app. Features: Setting and Resetting the Budget, Adding and maintaining Expenses, Overview of the month, Monthly Trends. C# .NET, Xamarin, XMAL
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="https://github.com/KaurEkampreet/ExpenseTrackingApp" target="_blank">
                            <img class="img-fluid float-right" src="~/img/tracker.JPG" alt="Project Picture" class="float-right mr-3" height="200" width="350">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container mt-4 mb-5">
                <br>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h1 class="display-4 text-info">NC-Document-Online</h1>
                        <p class="h2">
                        <p>Currently working with a team to build pdf to online form with administration and back-end components for the form to reduce paper form and provide online form to client. </p>
                        <p><strong>Technologies: </strong>HTML, CSS, Bootstrap, Javascript, SQL</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="https://team-nco.greenriverdev.com/NC-Document-Online/home/0" target="_blank">
                            <img class="img-fluid float-right" src="~/img/NCO.jpg" alt="IT 355 Project" class="float-right mr-3" height="200" width="350">
                        </a>
                    </div>
                </div>

                <div class="container mt-4 mb-5">
                    <br>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <h1 class="display-4 text-info">iD.A.Y.Dream</h1>
                            <p class="h2">
                            <p>
                                Currently working with a team to build custom forms for a non-profit organization with administration and back-end components for the iD.A.Y.DREAM.  It helps organization to reduce technical overhead and provide data management solution for the client. Following AGILE design principles
                            </p>
                            <p><strong>Technologies: </strong>HTML, CSS, Bootstrap, Javascript, SQL</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <a href="https://github.com/E-mishkin/idaydream_EEIcoders" target="_blank">
                                <img class="img-fluid float-right" src="~/img/idaydream.png" alt="idaydream" class="float-right mr-3" height="200" width="350">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="container mt-4 mb-5">
                    <br>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <h1 class="display-4 text-info">Guestbook </h1>
                            <p class="h2">
                            <p>Guestbook form is for personal use which I use to get to connected with people from networking event and conferences. When someone fill out the form it stores all data in database. Data is only visible with login. </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <a href="http://ekaur.greenriverdev.com/305/guestbook/guestbook.html" target="_blank">
                                <img class="img-fluid float-right" src="~/img/guestbook.png" alt="Guestbook Picture" class="float-right mr-3" height="200" width="400">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="container mt-4 mb-5">
                    <br>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <h1 class="display-4 text-info">Service Health Dashboards  </h1>
                            <p class="h2">
                            <p>Created Service Health Dashboards for IT Authorize (internal application) to proactively monitor the health of services using Power BI, SQL, Application Insights and Stream Analytics. </p>
                            <p><strong>Technologies: </strong>SQL, PowerBi, Application Insight, Stream Analytics</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img class="img-fluid float-right" src="~/img/IT.png" alt="IT Project" class="float-right mr-3" height="200" width="350">

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</body>
</html>
